<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.coffeegerm.brew_it">

    <application
        android:name=".BrewIt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Brew It"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.single_drink.SingleDrinkActivity" />
    </application>

</manifest>